<form class="form transaction-form" method="post" action"/edit/<%= @id %>">
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>
  <label class="radio" for="kind">
    <input type="radio" name="kind" value="income">Income
  </label><!--
  --><label class="radio" for="kind">
    <input type="radio" name="kind" value="expense">Expense
  </label>
  <div class="half">
    <label class="block" for="date">Date</label>
    <input type="date" value="<%= @date %>" name="date" required>
    <label class="block" for="amount">Amount</label>
    <input type="number" name="amount" id="amount" value="<%= @amount %>" min="1" required>
  </div><!--
  --><div class="half">
    <label class="block" for="category">Category</label>
      <select class="select" name="category" id="category">
        <option value="food">Food</option>
        <option value="bills">Bills</option>
        <option value="transportation">Transportation</option>
        <option value="entertaiment">Entertaiment</option>
        <option value="mortgage">Mortgage</option>
        <option value="clothing">Clothing</option>
        <option value="medical">Medical</option>
        <option value="insurance">Insurance</option>
        <option value="home items">Home Items</option>
        <option value="personal item">Personal Items</option>
      </select>
    <label class="block" for="comment" class="comment_label">Comment</label>
    <input type="text" name="comment" value="<%= @comment %>">
  </div>
  <input type="submit" value="Edit transaction"></input>
  <a href="/" class="button center">Home</a><!--
  --><a href="/history" class="button center">History</a>
  <a href="/logout" class="button logout">Log Out</a>
</form>